.header {
  background-color: rgb(0, 42, 78);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  max-height: 5rem;
  width: auto;
  display: inline-block;
  margin: 3rem 4rem;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

ul.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  flex-wrap: wrap;
}
li {
  list-style: none;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  font-family: "mrs-eaves", serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.25rem;
}

a {
  text-decoration: none;
  color: rgb(243, 236, 228);
  cursor: pointer;
}

a:hover {
  color: rgba(185, 137, 45);
  font-family: "mrs-eaves", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1rem;
}

a:active {
  color: rgb(185, 137, 45);
}

@media only screen and (min-width: 1080px) {
  .header-logo {
    max-height: 3rem;
  }
  ul.nav-bar {
    flex-direction: row;
  }

  li {
    padding: 0;
  }
}
